
/* import fonts from fonts.css file */ 
@import url(./fonts.css);


/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);


.loader {
    border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
 }

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide-loader{
display:none;
}

/* start navigation */ 




/* end navigation */ 

/* Banner Area */ 

.site-main .site-banner {
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}



/* End Banner Area */ 

/* Start About Area */ 

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About Area */ 
* {box-sizing: border-box}

.container {
  width: 100%;
 
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.web-development {width: 90%; background-color: #4CAF50;}
.content-writing {width: 80%; background-color: #2196F3;}
.marketing {width: 65%; background-color: #f44336;}
.cloud {width: 60%; background-color: #808080;}

/* Start Brand Area */ 

.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

/* End Brand Area */




/* Responsibility Area */ 

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}

 /* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -60px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 80%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}


/* End Responsibility Area */ 
.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}


/*Popular*/
.myButton1 {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton1:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.myButton1:active {
	position:relative;
	top:1px;
}
/*button all*/
.myButton2 {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButton2:active {
	position:relative;
	top:1px;
}

        


		



 
 



/*----End Popular---*/

/* --- Extra New Section ---/
/*Services*/
.services{
	padding: 80px 0;
	background-color: #efefef;
}
.services .box{
	padding: 30px;
	width: 350px;
	background:var(--first-color);
	text-align: center;
	border:0px solid var(--second-color);
	margin:10px auto;
	box-shadow: 0 0 5px #bababa;
	overflow: hidden; 
	position: relative;
}
.services .icon{
	 margin: 0 auto 20px auto;
	 display: inline-block;
     text-align: center;  
}
.services .icon .fa{
	font-size: 50px;
    line-height: 1;
    color: #c0392b;
}
.services .title{
	font-weight: 500;
	margin-bottom: 15px;
	font-size: 30px;
	font-family: 'Markazi Text', serif;
}
.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
.services .box:before{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-bottom: 2px solid var(--line-color);
	border-left: 2px solid var(--line-color);
	bottom: 5%;
	left: 5%;
	opacity: 0;
	transition: all 0.5s ease;
}
.services .box:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-top: 2px solid var(--line-color);
	border-right: 2px solid var(--line-color);
	top: 5%;
	right: 5%;
	opacity: 0;
	transition: all 0.5s ease;
}
.services .box:hover:before,
.services .box:hover:after{
	opacity: 1;
    width: 90%;
    height: 90%;
}

@media screen and (max-width: 768px){
  .services .box{
    width: 100%;
  }
}

/*Count*/
.count{
	padding: 50px 0;
}
.count .count-box .fa{
	 display: block;
     font-size: 50px;
     margin-bottom: 18px;
}
.count .count-box span{
	font-size: 40px;
    line-height: 30px;
    display: block;
    font-weight: 700;
    color: #3b434a;
    margin-left: -5px;
}
.count .count-box h6{
	font-size: 25px;
	color: var(--second-color);
	font-weight: bold;
	margin-top: 15px;
    font-family: 'Markazi Text', serif;
}
.count .count-box p{
	 font-weight: 400;
     display: block;
     margin-top: 20px;
     margin-left: 15px;
     color: #34495e;
     font-size: 15px;
     transition: ease-in-out 0.3s;
}


/*Portfolio*/
.portfolio{
	padding: 100px 0;
	background-color: #efefef;
}
.portfolio p{
  margin-bottom: 25px;
}
.portfolio #portfolio-flters li{
   list-style: none;
   background-color: var(--first-color);
   padding: 14px 15px;
   margin: 0 10px 10px 10px;
   color: var(--second-color);
   display: inline-block;
   cursor: pointer;
   line-height: 1;
   text-transform: uppercase;
   transition: all 0.3s ease-in-out;
   border-radius: 5px;
}
.portfolio #portfolio-flters li:hover{
   background:var(--heading-color);
   color: var(--second-color);
}
.portfolio #portfolio-flters li.filter-active{
   background:var(--heading-color);
   color: var(--second-color);
}
.portfolio .portfolio-item{
   margin-bottom: 30px;
}
.portfolio .portfolio-item .portfolio-img{
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 0 0 5px #bababa;
}
.portfolio .portfolio-item .portfolio-img img{
   transition: all 0.8s ease-in-out;
}
.portfolio .portfolio-item .portfolio-content{
   opacity: 0;
   position: absolute;
   left: 15px;
   bottom: 0;
   border-radius: 10px;
   z-index: 3;
   right: 15px;
   transition: all ease-in-out 0.3s;
   background: rgba(0, 0, 0, 0.6);
   padding: 15px 18px;
}
.portfolio .portfolio-item .portfolio-content h4{
   font-size: 22px;
   letter-spacing: 1px;
   font-family: 'Markazi Text', serif;
   color:var(--first-color);
   font-weight: 600;
   margin-bottom: 0;
}
.portfolio .portfolio-item .portfolio-content p{
   color: var(--first-color);
   font-size: 15px;
   font-weight: 300;
   margin-bottom: 0;
}
.portfolio .portfolio-item .portfolio-content .preview-link, .portfolio .portfolio-item .portfolio-content .details-link{
   position: absolute;
   right: 40px;
   font-size: 20px;
   top: calc(50% - 18px);
   color: var(--first-color);
   transition: 0.3s;
}
.portfolio .portfolio-item .portfolio-content .preview-link:hover, .portfolio .portfolio-item .portfolio-content .details-link:hover {
   color: var(--line-color);
}
.portfolio .portfolio-item .portfolio-content .details-link{
   right: 10px;
}
.portfolio .portfolio-item:hover .portfolio-img img{
   transform: scale(1.1);
}
.portfolio .portfolio-item:hover .portfolio-content{
   opacity: 1;
}

/* -- END --/





/*Testimonial Area*/
.testimonials{
	padding: 80px 0;
	background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(img/test.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.testimonials .testimonial-item .testimonial-img img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    margin:0 auto;
}
.testimonials .testimonial-item .testimonial-details h3{
     font-size: 20px;
     font-weight: bold;
     margin: 10px 0 5px 0;
     color: var(--heading-color);
     text-align: center;
}
.testimonials .testimonial-item .testimonial-details h4{
	 font-size: 16px;
     color: var(--first-color);
     margin: 0 0 15px 0;
     text-align: center;
}
.testimonials .testimonial-item .testimonial-details p{
	font-style: italic;
    margin: 25px auto 15px auto;
    color: var(--first-color);
    text-align: center;
}
.testimonials .owl-nav, .testimonials .owl-dots{
    margin-top: 5px;
    text-align: center;
}
.testimonials .owl-dot{
   display: inline-block;
   margin: 0 5px;
   width: 12px;
   height: 12px;
   border-radius: 1%;
   background-color: rgba(255, 255, 255, 0.8) !important;
}
.testimonials .owl-dot.active{
  background-color: var(--line-color) !important;
}

/*End Testimonial Area*/




/* Project Area */ 

.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}



/* End About Me */



#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 80px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 20px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


/* End Footer */ 
