
/* import fonts from fonts.css file */ 
@import url(./fonts.css);


/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);


.loader {
    border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
 }

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide-loader{
display:none;
}

/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 

/* Banner Area */ 

.site-main .site-banner {
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}



/* End Banner Area */ 

/* Start About Area */ 

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About Area */ 
* {box-sizing: border-box}

.container {
  width: 100%;
 
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.web-development {width: 90%; background-color: #4CAF50;}
.content-writing {width: 80%; background-color: #2196F3;}
.marketing {width: 65%; background-color: #f44336;}
.cloud {width: 60%; background-color: #808080;}

/* Start Brand Area */ 

.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

/* End Brand Area */ 

/* Responsibility Area */ 

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}

 /* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -60px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 80%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}


/* End Responsibility Area */ 
/* Counter Area*/
 
/* End Counter Area*/
.site-main .about-area .about-title p{
    padding: 1rem 7rem;
}

.site-main .about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .about-area .client .client-img{
    padding: 2rem;
}

.site-main .about-area .client .about-client{
    padding-top: 2rem;
}

.site-main .about-area .client .about-client h4{
    font: normal 500 21px/ 20px var(--roboto);
}

.site-main .about-area .client .about-client p{
    font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}
/*Popular*/

.teams{
	  font-family: 'Raleway', sans-serif;
}
.teams .shadow-effect {
		    background: #fff;
		    padding: 20px;
		    border-radius: 20px;
		    text-align: center;
	border:1px solid #ECECEC;
		    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
		}
		
		#customers-teams .item {
			 height:470px !important;
		    text-align: center;
		    padding: 50px;
				margin-bottom:80px;
		    opacity: .2;
		    -webkit-transform: scale3d(0.8, 0.8, 1);
		    transform: scale3d(0.8, 0.8, 1);
		    -webkit-transition: all 0.3s ease-in-out;
		    -moz-transition: all 0.3s ease-in-out;
		    transition: all 0.3s ease-in-out;
		}
#customers-teams .item p{
	font-size:12px;
}
#customers-teams .item h2{
	font-size:28px !important;
	font-weight:500 !important;
}
#customers-teams .item .title{
	font-size:14px;
}
#pastexp{
	margin-top:20px;
}
#customers-teams .item h5{
	font-size:15px !important;
	font-weight:700 !important;
}
		#customers-teams .owl-item.active.center .item {
		    opacity: 1;
		    -webkit-transform: scale3d(1.0, 1.0, 1);
		    transform: scale3d(1.0, 1.0, 1);
		}
		.teams .owl-carousel .owl-item .img-circle {
		    transform-style: preserve-3d;
		    max-width: 170px;
    		margin: 0 auto 17px;
			  transition: transform .5s;
		}
.teams .owl-carousel .owl-item .img-circle:hover {
		    transform: scale(0.9);
		}

#customers-teams.owl-carousel .owl-dots .owl-dot.active span,
#customers-teams.owl-carousel .owl-dots .owl-dot:hover span {
		    background: rgba(215,67,77,0.8);
		    transform: translate3d(0px, -50%, 0px) scale(0.7);
		}
#customers-teams.owl-carousel .owl-dots{
	display: inline-block;
	width: 100%;
	text-align: center;
}
#customers-teams.owl-carousel .owl-dots .owl-dot{
	display: inline-block;
}
		#customers-teams.owl-carousel .owl-dots .owl-dot span {
		    background: rgba(215,67,77,0.8);
		    display: inline-block;
		    height: 20px;
		    margin: 0 2px 5px;
			  margin-top:50px;
		    transform: translate3d(0px, -50%, 0px) scale(0.3);
		    transform-origin: 50% 50% 0;
		    transition: all 250ms ease-out 0s;
		    width: 20px;
			  outline: none;
				border-radius:50% !important;
		}
.owl-dot, .owl-dot:active, .owl-dot:focus { 
	outline: 0 !important;
}

@media only screen and (max-width: 1000px){
	#customers-teams.owl-carousel .owl-dots .owl-dot span {
	height:20px;
	width:20px;
	margin-top:30px;
	}
}
		



 
 



/*----End Popular---*/





/*Testimonial Area*/
.demo{ background: #034748; }
.testimonial{
    margin: 50px 30px 30px 30px;
    text-align: center;
    position: relative;
}
.testimonial .description{
    padding: 30px;
    margin-bottom: 80px;
    border-left: 1px solid #fff;
    font-size: 15px;
    color: #fff;
    line-height: 33px;
    position: relative;
   
}
.testimonial .description:before,
.testimonial .description:after{
    content: "";
    width: 20%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.testimonial .description:after{
    top: auto;
    bottom: 0;
}
.testimonial .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 15px 0;
    position: relative;
}
.testimonial:before,
.testimonial .title:before{
    content: "";
    width: 1px;
    height: 50px;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
}
.testimonial .title:before{ top: -80px; }
.testimonial .pic{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.owl-theme .owl-controls{ margin-top: 0; }
.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height: 10px;
    border-radius: 0;
    background: #000;
    outline: 2px solid #000;
    outline-offset: 2px;
    margin-right: 8px;
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{
    background: #fff;
    outline: 2px solid #fff;
}

/*End Testimonial Area*/




/* Project Area */ 

.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}



/* End About Me */



 
/* Subscribe me */ 

.site-main .subscribe-us-area .subscribe{
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--roboto);
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}

/* End subscribe me */ 
.contact-section
{
	height: 90vh;
	background: white;
	text-align: center;
}

.contact-section span
{
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
}

input
{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
	border: 0;
	background: #50555b;
	color: #fff;
}

textarea
{
	border: 0;
	border-radius: 10px;
	height: 100px;
	width: 500px;
	background: #50555b;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.inp-name, .inp-mail
{
	height: 50px;
	width: 500px;
}

.inp-msg
{
	height: 100px;
	width: 500px;
}

input[type=text]
{
	text-align: center;
	font-size: 20px;
}

.inp-btn
{
	padding: 10px;
	background: #4b8cfb;
	font-size: 20px;
}

.inp-btn:hover
{
	background: #000;
	transition: 0.3s;
}

/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 80px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 20px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


/* End Footer */ 
